<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('SXC')" data-ng-class="{active: currency.symbol == 'SXC'}">SXC</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mSXC')" data-ng-class="{active: currency.symbol == 'mSXC'}">mSXC</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uSXC')" data-ng-class="{active: currency.symbol == 'uSXC'}">uSXC</a>
  </li>
</ul>

